<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collaborative Whiteboard</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <canvas id="whiteboard"></canvas>
  <button id="clearButton">Clear</button>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
